* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

.container {
    display: flex;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; 
    overflow: hidden;
}

/* Left Section: Login Form */
.login-section {
    position: absolute;
    left: 0;
    width: 43%;
    height: 100%;
    padding: 80px;
    z-index: 3; 
    border-radius: 0 30px 30px 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
}
.logo .mobile-logo{
    display: none;
}

h2 {
    font-size: 20px;
    font-weight: 200;
    color: #FF451C;
}
form{
    width: 100%;
    margin-top: 40px;
}

.input-group {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    width: 100%;
    height: 100%;
    padding: 18px;
    color: #595959;
    border: none;
    background-color: #F1F1F1;
    border-radius: 14px;
    font-size: 12px;
    outline: none;
    font-weight: 200;
}

.input-group input:focus {
    border: 1px solid #FF451C;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #919191;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: 8px; /* Adjusted to stay within the input field */
    font-size: 10px; /* Small enough to fit but still readable */
    color: #858585;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
}

.options label {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #666;
    font-size: 12px;
}

.forgot-password {
    color: #666;
    text-decoration: none;
    font-size: 12px;

}

.forgot-password:hover {
    text-decoration: underline;
}

.sign-in-btn {
    width: 100%;
    padding: 18px;
    background-color: #FF451C;
    color: #fff;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sign-in-btn:hover {
    background-color: #e04e2b;
}

.divider {
    width: 100%;
    text-align: center;
    position: relative;
}

.divider span {
    background-color: #ffffff;
    padding: 0 10px;
    color: #888;
    font-size: 14px;
}

.divider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    z-index: -1;
}

.google-sign-in {
    width: 100%;
    padding: 18px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 14px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.google-sign-in img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.google-sign-in:hover {
    background-color: #f5f5f5;
}

.signup-link {
    margin-top: 60px;
    font-size: 14px;
    color: #666;
}

.signup-link a {
    color: #434343;
    font-weight: 600;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/* Right Section: Background Image */
.image-section {
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    background-image: url(assets/image.png);
    background-size: cover;
    object-fit: cover;
    background-position: center;
}

/* Responsive Design */
@media (max-width: 1160px){
    .login-section {
        padding: 35px;
    }

}
@media (max-width: 750px) {
    .container {
        flex-direction: column;
        width: 100vw; /* Full width of the viewport */
        height: 100vh; /* Allow height to adjust dynamically */
    }

    .login-section {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        width: 100%;
        height: 100%; /* Adjust height dynamically */
        background: transparent; /* Ensure visibility */
        padding: 40px;
        border-radius: 0;
    }
   
    .login-section .logo .mobile-logo{
        display: block;
        width: 60px; /* Adjust logo size for smaller screens */
        height: 60px;
    }
    .login-section h2{
        color: #fff;
    }

    .input-group input {
        width: 100%;
        padding: 15px;
        border: none;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 14px;
        font-size: 12px;
        color: #f0f0f0;
        outline: none;
        font-weight: 200;
    }
    .input-group input:focus {
        border: 1px solid #f3f3f3;
    }
    .input-group label {
        color: #ffffff;
    }
    
    .input-group input:focus + label,
    .input-group input:not(:placeholder-shown) + label {
        top: 5px; /* Adjusted to stay within the input field */
        font-size: 10px; /* Small enough to fit but still readable */
        color: #ffffff;
        
    }
    .eye-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #ffffff;
        cursor: pointer;
    }
    .input-group input::placeholder {
        color: #e9e9e9; 
    }

    .input-group input:focus + label,
    .input-group input:not(:placeholder-shown) + label {
        top: 8px; /* Ensure label stays within input */
        font-size: 10px;
    }

    .options {
        flex-direction: row; /* Stack options vertically */
        gap: 10px;
        align-items: flex-start; /* Align options to the left */
    }
    .options label {
        display: flex;
        gap: 5px;
        align-items: center;
        color: #ffffff;
    }
    
    .options input[type="checkbox"] {
        
        appearance: none;
        border: 1px solid #ffffff; 
        border-radius: 4px;
        width: 16px; 
        height: 16px;
    }

    .options input[type="checkbox"]:checked {
        background-color: #ffffff;

        accent-color: rgba(237, 6, 6, 0.5);

    }

    .forgot-password {
        color: #ffffff;
        text-decoration: none;
        font-size: 12px;
    
    }

    .sign-in-btn {
        padding: 12px;
        font-size: 14px;
    }

    .divider {
        margin: 10px 0; /* Reduce margin for smaller screens */
    }
    .divider span {
        background-color: #2f0b1d;
        padding: 0 10px;
        color: #ffffff;
        font-size: 14px;
    }

    .google-sign-in {
        padding: 12px;
        font-size: 14px;
        background: transparent;
        color: #fff;
    }
    .signup-link {
        margin-top: 30px; /* Reduce top margin */
        font-size: 12px;
        color: #fff;
    }
    .signup-link a {
        color: #ffffff;
    }

    .image-section {
        position: relative;
        width: 100%; /* Full width for smaller screens */
        height: 100%; /* Adjust height */
        background-size: cover;
        background-position: center;
    }
}
@media (max-width: 425px){
    .login-section {
        padding: 20px;
    }

}